#contenedor{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
}
body{
	background-image: url(..img/colorfondo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background: #ffffff;
	border-style: solid; 
	border-color: #004669;
	width: 1000px;
	height: 1100px;
	margin: auto;
}
h2{
	font-family: verdana;
	color:#004669;
	margin-left: : 20px;
	font-size: 40px;
	text-align: center; 
}
h3{
	font-family: verdana;
	color:#004669;
	margin-left: : 20px;
	font-size: 20px;
	text-align: left; 
}
h1{
	color: #005883;
	font-size:30px;
}
header{
	width: 1000px;
	height: 156px;
	background: #ffffff;
	border-style: solid; 
	border-color: #004669;
	}
nav{
	width: 980px;
	height: 60px;
	background: #005883; 
	border:solid;
	border-color: #005883; 
	border-radius: 10px; 
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin: auto;	
	
}
ul{
	margin: auto;
	padding-top: 4px;	
}
li{
	float: left;
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 80px;
	padding: auto;
	margin: 4px;

}
a{
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
	font-size: 25px;
}
section{
	width: 1000px;
	background:white;
	height: 800px;
	float: left;
	margin-top: 20px;
	border-radius:10px;
	border-top-right-radius: 0;
	border-top-left-radius: 0; 
}
/*aside{
	width:80px;
	background: white;
	height: 800px;
	float: left;
	margin-left: 20px; 
	margin-top: 20px;
	border-radius: 10px; 
	border-top-right-radius: 0;
	border-top-left-radius: 0;*/
}
footer{
width: 1000px;
height: 100px;
float:left;
margin-top: 20px;
border-radius: 10px; 
border-top-right-radius: 0;
border-top-left-radius: 0;
margin-bottom: 20px;
float: auto;
}
p{
	font-size: 15px;
	font-weight: bolder;
	text-align: justify;
	margin-right: 10px;
}
figure{
	width: 
}